---
const { url, title } = Astro.props;
---

<style>
  /* a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  } */
</style>

<li><a href={url}>{title}</a></li>
